@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

/* Swiper Custom Pagination */
.just-in-section .custom-bullet {
  height: 8px;
  width: 8px;
  background-color: #6c7275;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}

.just-in-section .swiper-pagination-bullet-active {
  height: 8px;
  width: 8px;
  background-color: #141718;
  border-radius: 50%;
  position: relative;
}

.just-in-section .custom-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  z-index: -1;
  border: 1px solid #141718;
  transform: translate(-50%, -50%);
}

.just-in-section #main_bullets {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* swiper custom pagination end */

.swiper-slide-thumb-active {
  border: 2px solid #141718;
}

.accordion ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.accordion ul li::marker {
  color: #141718;
}

body .swiper {
  display: none;
}

body .swiper.swiper-initialized {
  display: block;
}

.color-variants:empty {
  display: none;
}
